.container {
  width: 686px;
  margin: 50px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 36px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  padding: 8px;
}

.table {
  width: 100%;
}

.thead {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 133%;
  color: #999;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.leader_board {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

.tbody {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.game_leader {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 133%;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-sizing: border-box;
}

.leaderboard_achievements {
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.achievements {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.block_achievements {
  position: relative;
}

.puzzle {
  background-image: url(./images/puzzle.svg);
}

.puzzleGray {
  background-image: url(./images/puzzleGray.svg);
}

.vision {
  background-image: url(./images/vision.svg);
}

.visionGray {
  background-image: url(./images/visionGray.svg);
}

.puzzle,
.puzzleGray,
.vision,
.visionGray {
  border: none;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: default;
  z-index: 0;
}

[hint] {
  position: relative;
}

[hint]::after {
  opacity: 0;
  content: attr(hint);
  position: absolute;
  width: 180px;
  padding: 60px 20px 20px;
  color: #004980;
  background: #c2f5ff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  z-index: 1;
  bottom: -5px;
  transform: translate(-50%, 100%);
  border-radius: 12px;
  pointer-events: none;
  transition: opacity 0.2s;
}

[hint]:hover::after {
  opacity: 1;
}
